*
{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    position: relative;
    top: -100px;
}

.container{
    font-family: Helvetica, sans-serif;
    position: relative;
    top: 100px;
    background: url(../img/BackgroundMainCropped.png);
    justify-content: center;
}

.container_top{
    width: 20%;
    position: fixed;
    z-index: 10;
    top: 100px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-top: 20px;
    display: block;
    padding: 20px 0;
    position: relative;
    text-align: center;
    width: 10%;
}

nav ul li a{
    color: #1c1c1c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

nav ul li a:hover{
    color: black;
}

nav ul li a::before{
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    background-color: #1c1c1c;
    top: 0;
    position: absolute;
    transition: all ease-in-out 250ms;
}

nav ul li a:hover::before{
    width: 100%;
}

h2{
    padding: 20px;
    text-align: center;
}

#add_equipment{
    display: block;
    width: 75%;
    background-color: #f1f1f1;
    margin: auto;
    margin-top: 100px;
    position: relative;
    height: 1000px;
}


#edit_equipment{
    display: block;
    position: relative;
    height: 1000px;
    width: 75%;
    margin: auto;
    background-color: #f1f1f1;
}

#add_equipment_form{
    
    width: 500px;
    margin: 2rem auto;
    border: 2px solid #bfd37a;
    padding: 2rem;
}

.equipment_input{
    display: block;
    width: 100%;
    color: black;
    border-radius: 4px;
    background-color: #e6e6e6;
    font-size: 15px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 0;
    
}

.equipment_input_label{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#submitBtn{
    border: 0;
    padding: .5rem;
    margin-top: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    text-decoration: none;
    border: 2px solid #bfd37a;
    text-align: center;
    position: relative;
    font-weight: bolder;
    transition: all .2s;
}

#submitBtn:after
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #bfd37a;
    transition: all .35s;
}

.itemListText
{
    padding: 20px;
}

.itemList
{
    display: flex;
    justify-content: center;
}

#tab1
{
    border-collapse: collapse;
    margin: 0px 5px 0px;
    font-size: 0.9em;
    min-width: 400px;
    width: 95%;
    justify-self: center;
}

#tab1 thead tr
{
    background-color: #bfd37a;
    color: white;
    text-align: left;
    font-weight: bold;
}

#tab1 th, #tab1 td
{
    padding: 12px 15px;
}

#tab1 tbody tr
{
    border-bottom: 1px solid #dddddd;
}

#tab1 tbody tr:nth-last-of-type(even)
{
    background-color: #e6e6e6;
}

#tab1 tbody tr:last-of-type
{
    border-bottom: 2px solid #bfd37a;
}

.editeq
{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    background-color: #5ac18e;
    content: "&#10003";
}

.deleteeq
{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    background-color: #f6546a;
    content: "&#10008";
}

.popup{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#popup-content{
    height: 750px;
    width: 600px ;
    background: #fff;
    padding: 20px ;
    border-radius: 5px;
}

.close{
    margin: 10px;
    cursor: pointer; 
}