.container
{
    font-family: Helvetica, sans-serif;
    display: flex;
    position: relative;
    top: 100px;
    background: url(../img/BackgroundMainCropped.png);
    justify-content: center;
    min-height: 700px;
}

.rent
{
    background-color: #f1f1f1;
    flex-direction: column;
    width: 75%;
}

.itemListText
{
    padding: 30px;
}

.itemListText .items-for-rent-text
{
    margin: 20px 0px 50px 0px;
}

.project-selection
{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.project-selection h3
{
    color: #494949;
}

#project-selectbox
{
    margin-left: 30px;
    margin-top: -10px;
    background-color: #009879;
    color: #f1f1f1;
    font-weight: bold;
    padding: 10px;
    width: 15%;
    outline: none;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.itemList
{
    display: flex;
    justify-content: center;
}

#tab1
{
    border-collapse: collapse;
    margin: 0px 5px 0px;
    font-size: 0.9em;
    min-width: 400px;
    width: 95%;
    justify-self: center;
}

#tab1 th:hover
{
    cursor: pointer;
}

#tab1 thead tr
{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

#tab1 th, #tab1 td
{
    padding: 12px 15px;
}

#tab1 tbody tr
{
    border-bottom: 1px solid #dddddd;
}

#tab1 tbody tr:nth-last-of-type(even)
{
    background-color: #e6e6e6;
}

.table-sortable th
{
    cursor: pointer;
}

.table-sortable .th-sort-asc::after
{
    content: "\25b4";
}

.table-sortable .th-sort-desc::after
{
    content: "\25be";
}

.table-sortable .th-sort-asc::after, 
.table-sortable .th-sort-desc::after
{
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc
{
    background: rgba(0, 0, 0, 0.1);
}

.showDialogBtt
{
    padding: 10px 20px;
    border: none;
    outline:none;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.buttonDiv
{
    display: flex;
    justify-content: center;
}

#rentBtt
{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    text-decoration: none;
    border: 2px solid #009879;
    text-align: center;
    position: relative;
    font-weight: bolder;
    transition: all .2s;
    cursor: pointer;
}

#rentBtt span
{
    position: relative;
    z-index: 2;
}

#rentBtt:after
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #009879;
    transition: all .35s;
}

#rentBtt:hover:after
{
    height: 100%;
}

.bg-modal
{
    width: 75%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content
{
    width: 500px;
    height: 600px;
    background-color: white;
    opacity: .85;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.modal-content img
{
    opacity: 1;
    width: 70%;
    height: 40%;
    object-fit: cover;
    margin-bottom: 30px;
}

.modal-content p
{
    font-size: 1.2rem;
    padding: 10px;
    color: #606060;
}

.close
{
    position: absolute;
    top: 10;
    right: 15px;
    font-size: 42px;
    transform: rotate(45deg);
    border: none;
    outline:none;
    background-color: white;
    cursor: pointer;
}

@media only screen and (max-width: 1050px)
{
    .container
    {
        top: 60px;
    }
}

@media only screen and (max-width: 700px)
{
    .rent
    {
        width: 100%;
    }

    .typeText
    {
        display: none;
    }

    .browse
    {
        margin-top: 5px;
        justify-content: flex-start;
    }

    .typeSelectors
    {
        display: none;
    }

    #tab1 tbody tr:last-of-type
{
    border-bottom: none;
}
    #tab1 thead
    {
        display: none;
    }

    #tab1, #tab1 tbody, #tab1 tr, #tab1 td
    {
        display: block;
    }

    #tab1 tr
    {
        margin-bottom: 15px;
    }

    #tab1 td
    {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    #tab1 td::before
    {
        text-align: left;
        color: #009879;
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
    }
}