*
{
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face{
    font-family: Rosario;
    src: url("../fonts/Rosario/Rosario-Regular.ttf");
}

.container{
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 65px;
    justify-content: center;
}

.text{
    background-color: #F1F1F1;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
    width: 500px;
    height: 750px;
    margin: 0;
    margin-top: 30px;
}

#project{
    height: 680px;
}

#wiki{
    height: 630px;
}


.text p{
    font-family: Rosario;
    padding: 10px;
    font-size: 20px;
    line-height: 25px;
    color: #1C1C1C;
    opacity: 0.5;
}

.text h2{
    font-family: Rosario;
    font-weight: bold;
    text-align: center;
    color: #BADA55;
    opacity: 0.8;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.second_paragraph{
    margin-top: 30px;
    text-align: right;
}

@media only screen and (max-width: 1050px)
{
    .container{
        grid-template-columns: auto auto auto;
    }
    img{
        width: 300px;
    }
   
    .text{
        width: 300px;
    }
    .text h2{
        font-size: 25px;
    }

    .text p{
        font-size: 15px;
    }
}

@media only screen and (max-width: 640px)
{
    .container{
        top: 60px;
        grid-template-columns: auto;
    }

    img{
        width: 390px;
    }
    
    .text{
        width: 390px;
    }

    .text h2{
        font-size: 28px;
    }

    .text p{
        font-size: 18px;
    }
}