{% extends 'main.html' %}
{% load static %}

{% block mainblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Style_Createproject.css' %}">
    <script type="text/javascript" src="{% static 'js/createProject.js' %}" defer></script>

    <div class="container">
        <div class="cr_project">
            <p id="projectTitle">Create a project</p>
            <form class="project_form" name="myForm" id="create_project">
                
                <div class="top-labels">
                    <label for="project_code" class="project_input_label">Code: </label>
                    <label for="year" class="project_input_label">Year: </label>
                    <label for="semester" class="project_input_label">Semester: </label>
                </div>
                <div class="top-inputs">
                    <input type="number" class="project_input" id="project_code" name="project_code" placeholder="Project code" required>
                    <input type="number" class="project_input" id="year" name="year" placeholder="Year" required min="1" max="5">
                    <input type="number" class="project_input" id="semester" name="semester" placeholder="Semester" required min="1" max="2">
                </div>
                
                <div class="middle-labels">
                    <label for="project_name" class="project_input_label">Name: </label>
                    <label for="project_short_name" class="project_input_label">ShortName: </label>
                    <label for="supervisor_name" class="project_input_label">Supervisor: </label>
                </div>
                <div class="middle-inputs">
                    <input type="text" class="project_input" id="project_name" name="project_name" placeholder="Project name" required>
                    <input type="text" class="project_input" id="project_short_name" name="project_short_name" placeholder="Project short name" required>
                    <input type="email" class="project_input" id="supervisor_name" name="supervisor_name" placeholder="Supervisor e-mail" pattern=".+@ua.pt" title="Use UA e-mail!" required>
                </div>

                <div class="bottom-input">
                    <legend class="project_input_label">Number of team members:</legend>
                    <select id="no_team_members" onchange="change()" required>
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>

                <div id="names"></div>

                <div class="button">
                    <input type="submit" value="Submit" id="submitBtn">
                </div>
              </form>
        </div>
    </div>

{% endblock %}