{% extends 'main.html' %}
{% load static %}

{% block mainblock %}

    <link rel="stylesheet" href="{% static 'css/Style_EditEquipment.css' %}" type="text/css">
    <script src="{% static 'js/addEquipment.js' %}" defer></script>

    <header>
        <div class="container_top">
            <nav class="top">
                <ul class="nav_list">
                    <li><a href="#add_equipment" class="left">Add equipment</a></li>
                    <li><a href="#edit_equipment" class="right">Edit equipment</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <section id="add_equipment">
            <h2>Add equipment</h2>
            <form id="add_equipment_form">
                    <label for="n_ref" class="equipment_input_label">Reference number: </label>
                    <input type="text" class="equipment_input" id="n_ref" name="n_ref" placeholder="Reference number" required>
                    <label for="equipment_family" class="equipment_input_label">Equipment family: </label>
                    <input type="text" class="equipment_input" id="equipment_family" name="equipment_family" placeholder="Equipment family" required>
                    <label for="equipment_description" class="equipment_input_label">Equipment description: </label>
                    <input type="text" class="equipment_input" id="equipment_description" name="equipment_description" placeholder="Equipment description" required>
                    <label for="equipment_location" class="equipment_input_label">Equipment location: </label>
                    <input type="text" class="equipment_input" id="equipment_location" name="equipment_location" placeholder="Equipment location" required>
                    <label for="quantity_total" class="equipment_input_label">Total quantity: </label>
                    <input type="number" class="equipment_input" id="total_quantity" name="total_quantity" placeholder="Total items" required>
                    <label for="quantity_borrowed" class="equipment_input_label">Borrowed quantity: </label>
                    <input type="number" class="equipment_input" id="borrowed_quantity" name="borrowed_quantity" placeholder="Borrowed items" required>
                    <label for="price" class="equipment_input_label">Price: </label>
                    <input type="number" class="equipment_input" id="price" name="price" placeholder="Price €" required>`
                    <input type="submit" value="Add Equipment" id="submitBtn">
                    
            </form>
        </section>
        
        <section id="edit_equipment">
            <div class="itemListText">
                <h2>Edit equipment</h2>
            </div>

            <div class="browse">
                <input type="text" placeholder="Browse...">
            </div>

            <div class="itemList">
                <table id="tab1">
                    <thead>
                        <tr>
                            
                            <th>#ID</th>
                            <th>Family</th>
                            <th>Description</th>
                            <th>In Stock</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="#ID">1</td>
                            <td data-label="Family">Asus</td>
                            <td data-label="Desc">Motherboard</td>
                            <td data-label="Stock">10</td>
                            <td data-label="Status">Intact</td>
                            <td data-label="Edit"><a href="#ID"><img src="{% static 'img/edit-tools.png' %}" width="20px" height="20px"></a></td>
                            <td data-label="Edit"><a href="#ID"><img src="{% static 'img/rubbish-can.png' %}" width="20px" height="20px"></a></td>
                        </tr>
                        <tr>
                           
                            <td data-label="#ID">2</td>
                            <td data-label="Family">Arduino</td>
                            <td data-label="Desc">Microchip</td>
                            <td data-label="Stock">2</td>
                          
                            <td data-label="Status">Broken</td>
                            <td data-label="Edit"><a href="#ID"><img src="{% static 'img/edit-tools.png' %}" width="20px" height="20px"></a></td>
                            <td data-label="Edit"><a href="#ID"><img src="{% static 'img/rubbish-can.png' %}" width="20px" height="20px"></a></td>
                        </tr>
                        <tr>
                            
                            <td data-label="#ID">3</td>
                            <td data-label="Family">Arduino</td>
                            <td data-label="Desc">Movement sensor</td>
                            <td data-label="Stock">12</td>
                            
                            <td data-label="Status">Intact</td>
                            <td data-label="Edit"><a href="#ID"><img src="{% static 'img/edit-tools.png' %}" width="20px" height="20px"></a></td>
                            <td data-label="Edit"><a href="#ID"><img src="{% static 'img/rubbish-can.png' %}" width="20px" height="20px"></a></td>
                        </tr>
                        <tr>
                            
                            <td data-label="#ID">4</td>
                            <td data-label="Family">Raspberry PI</td>
                            <td data-label="Desc">Microchip</td>
                            <td data-label="Stock">7</td>
                            
                            <td data-label="Status">Intact</td>
                            <td data-label="Edit"><a href="#ID"><img src="{% static 'img/edit-tools.png' %}" width="20px" height="20px"></a></td>
                            <td data-label="Edit"><a href="#ID"><img src="{% static 'img/rubbish-can.png' %}" width="20px" height="20px"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </div>

{% endblock %}