{% extends 'main.html' %}
{% load static %}

{% block mainblock %}

    <link rel="stylesheet" href="{% static 'css/Style_EditEquipment.css' %}" type="text/css">
    <script src="{% static 'js/addEquipment.js' %}" defer></script>
    <script src="{% static 'js/editEquipment.js' %}" defer></script>

    <header>
        <div class="container_top">
            <nav class="top">
                <ul class="nav_list">
                    <li><a href="#add_equipment" class="left">Add equipment</a></li>
                    <li><a href="#edit_equipment" class="right">Edit equipment</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <section id="add_equipment">
            <h2>Add equipment</h2>
            <form id="add_equipment_form">
                        <label for="n_ref" class="equipment_input_label">Equipment reference number: </label>
                    <input type="text" class="equipment_input" id="n_ref" name="n_ref" placeholder="Reference number" required>
                        <label for="equipment_family" class="equipment_input_label">Equipment family: </label>
                    <input type="text" class="equipment_input" id="equipment_family" name="equipment_family" placeholder="Equipment family" required>
                        <label for="equipment_description" class="equipment_input_label">Equipment description: </label>
                    <input type="text" class="equipment_input" id="equipment_description" name="equipment_description" placeholder="Equipment description" required>
                        <label for="equipment_location" class="equipment_input_label">Equipment location: </label>
                    <input type="text" class="equipment_input" id="equipment_location" name="equipment_location" placeholder="Equipment location" required>
                        <label for="quantity_total" class="equipment_input_label">Total quantity: </label>
                    <input type="number" class="equipment_input" id="total_quantity" name="total_quantity" placeholder="Total items" required>
                        <label for="quantity_borrowed" class="equipment_input_label">Borrowed quantity: </label>
                    <input type="number" class="equipment_input" id="borrowed_quantity" name="borrowed_quantity" placeholder="Borrowed items" required>
                        <label for="price" class="equipment_input_label">Price: </label>
                    <input type="number" class="equipment_input" id="price" name="price" placeholder="Price €" required>`
                    
                    <input type="submit" value="Add Equipment" id="submitBtn" onclick="addEquipment()">
            </form>
        </section>
        
        <section id="edit_equipment">
            <div class="itemListText">
                <h2>Edit equipment</h2>
            </div>

            <div class="itemList">
                <table id="tab1">
                    <thead>
                        <tr>
                            
                            <th>#ID</th>
                            <th>Family</th>
                            <th>Description</th>
                            <th>In Stock</th>
                            <th>Status</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="#ID">data</td>
                            <td data-label="Family">data</td>
                            <td data-label="Desc">data</td>
                            <td data-label="Stock">data</td>
                            <td data-label="Status">data</td>
                            <td data-label="Edit"><button class="editEq">&#10003</button></td>
                            <td data-label="Delete"><button class="deleteEq">&#10003</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="popup">
                <form id="popup-content">
                    <button class="close">X</button>
                    <label for="n_ref_edit" class="equipment_input_label">Equipment reference number: </label>
                    <input type="text" class="equipment_input" id="n_ref_edit" name="n_ref_edit" placeholder="Reference number">
                    <label for="equipment_family_edit" class="equipment_input_label">Equipment family: </label>
                    <input type="text" class="equipment_input" id="equipment_family_edit" name="equipment_family_edit" placeholder="Equipment family">
                    <label for="equipment_description_edit" class="equipment_input_label">Equipment description: </label>
                    <input type="text" class="equipment_input" id="equipment_description_edit" name="equipment_description_edit" placeholder="Equipment description">
                    <label for="equipment_location_edit" class="equipment_input_label">Equipment location: </label>
                    <input type="text" class="equipment_input" id="equipment_location_edit" name="equipment_location_edit" placeholder="Equipment location">
                    <label for="total_quantity_edit" class="equipment_input_label">Total quantity: </label>
                    <input type="number" class="equipment_input" id="total_quantity_edit" name="total_quantity_edit" placeholder="Total items">
                    <label for="borrowed_quantity_edit" class="equipment_input_label">Borrowed quantity: </label>
                    <input type="number" class="equipment_input" id="borrowed_quantity_edit" name="borrowed_quantity_edit" placeholder="Borrowed items">
                    <label for="price_edit" class="equipment_input_label">Price: </label>
                    <input type="number" class="equipment_input" id="price_edit" name="price_edit" placeholder="Price €">`
                    <input type="submit" value="Edit Equipment" id="editSubmitBtn">
                </form>

            </div>
        </div>
        </section>

        

    </div>

{% endblock %}