{% extends "main.html" %}
{% load static %}

{% block mainblock %}
    <link rel="stylesheet" href="{% static 'css/Style_MyProjects.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/myProjects.js' %}" defer></script>

    <div class="container">
        <div class="my_projects">
            <div class="my_project_title">
                <p>My projects:</p>
            </div>
                
        <div class="projectList">
            <table id="table1">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Short Name</th>
                        <th>Name</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Code">data</td>
                        <td data-label="Short Name">data</td>
                        <td data-label="Name">data</td>
                        <td data-label="Year">data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}