{% extends "main.html" %}
{% load static %}

{% block mainblock %}
    <link rel="stylesheet" href="{% static 'css/Style_MyProjects.css' %}" type="text/css">

    <div class="container">
        <div class="my_projects">
            <div class="my_project_title">
                <p>My projects:</p>
            </div>
                
        <div class="projectList">
            <table id="table1">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Project Name</th>
                        <th>Supervisor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Number">1</td>
                        <td data-label="Project Name"><a href="#">Project 1</a></td>
                        <td data-label="Supervisor">Professor 1</td>
                    </tr>
                    <tr>
                        <td data-label="Number">2</td>
                        <td data-label="Project Name"><a href="#">Project 2</a></td>
                        <td data-label="Supervisor">Professor 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}