{% extends 'main.html' %}
{% load static %}
{% block mainblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Style_RequestEq.css' %}">
    <script type="text/javascript" src="{% static 'js/rentEquipmentLogic.js' %}" defer></script>
    <script src="{% static 'js/tableSort.js' %}" defer> </script>
    <script type="text/javascript" src="{% static 'js/showDialog.js' %}" defer></script>

    <div class="container">
        <div class="rent">

            <div class="itemListText">
                <h2 class="items-for-rent-text">Select items for rent: </h2>
                <div class="project-selection">
                    <h3>Select a project to rent items corresponding to : </h3>
                    <select id="project-selectbox">
                        <option value="data1">data</option>
                    </select>
                </div>
            </div>

            <div class="itemList">
                <table id="tab1" class="table-sortable">
                    <thead>
                        <tr>
                            <th>Check</th>
                            <th>#ID</th>
                            <th>Family</th>
                            <th>Description</th>
                            <th>In Stock</th>
                            <th>Status</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Check"><input type="checkbox"></td>
                            <td data-label="#ID">data</td>
                            <td data-label="Family">data</td>
                            <td data-label="Desc">data</td>
                            <td data-label="Stock">data</td>
                            <td data-label="Status">data</td>
                            <td data-label="Status">details</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="buttonDiv">
                <button id="rentBtt" onclick="rentCheckedItems()"><span>RENT</span></button>
            </div>

            <div class="bg-modal">
                <div class="modal-content">
                    <button class="close" onclick="closeDialog()">+</button>
                    <div class="data">
                        
                    </div>
                </div>
            </div>
            
        </div>

{% endblock %}