{% extends 'main.html' %}
{% load static %}
{% block mainblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Style_ReturnEq.css' %}">
    <script src="{% static 'js/returnEquipmentLogic.js' %}" defer></script>
    <div class="container">
        <div class="rent">

            <div class="itemListText">
                <h2>Your items: </h2>
            </div>

            <div class="itemList">
                <table id="tab1">
                    <thead>
                        <tr>
                            <th>Check</th>
                            <th>#ID</th>
                            <th>Family</th>
                            <th>Description</th>
                            <th>Qty</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Check"><input type="checkbox"></td>
                            <td data-label="#ID">data</td>
                            <td data-label="Family">data</td>
                            <td data-label="Desc">data</td>
                            <td>data</td>
                            <td>data</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="buttonDiv">
                <button id="returnBtt" onclick="returnCheckedItems()"><span>RETURN</span></button>
            </div>

        </div>
    </div>
{% endblock %}