{% extends 'main.html' %}
{% load static %}
{% block mainblock %}
    <link rel="stylesheet" href="{% static 'css/Style_Team.css' %}" type="text/css">
    <script src="{% static 'js/pieChart.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <div class="container">
            <div class="people">
                <div class="person">
                    <img src="{% static 'img/Vinicius.jpg' %}" alt="Photo of Vinivius"/>
                    <div class="info_l">
                        <span>Vinícius Benite</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor repellat sapiente blanditiis veniam aspernatur repudiandae neque voluptas. 
                         Ducimus dolorem, animi, dicta voluptatum minima at voluptate vel, obcaecati itaque dignissimos dolorum.</p>
                    </div>
                </div>
                <div class="person">
                    <div class="info_r">
                        <span>Mateusz Roganowicz</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor repellat sapiente blanditiis veniam aspernatur repudiandae neque voluptas. 
                         Ducimus dolorem, animi, dicta voluptatum minima at voluptate vel, obcaecati itaque dignissimos dolorum.</p>
                    </div>
                    <img src="{% static 'img/Mateusz.jpg' %}" alt="Photo of Mateusz"/>
                </div>
                <div class="person">
                    <img src="{% static 'img/Jakub.png' %}" alt="Photo of JAkub"/>
                    <div class="info_l">
                        <span>Jakub Sztompka</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor repellat sapiente blanditiis veniam aspernatur repudiandae neque voluptas. 
                         Ducimus dolorem, animi, dicta voluptatum minima at voluptate vel, obcaecati itaque dignissimos dolorum.</p>
                    </div>
                </div>
                <div class="person">
                    <div class="info_r">
                        <span>Bernardo Bernas</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor repellat sapiente blanditiis veniam aspernatur repudiandae neque voluptas. 
                         Ducimus dolorem, animi, dicta voluptatum minima at voluptate vel, obcaecati itaque dignissimos dolorum.</p>
                    </div>
                    <img src="{% static 'img/Bernardo.jpg' %}" alt="Photo of Bernardo"/>
                </div>
                <div class="person">
                    <img src="{% static 'img/Miguel.jpg' %}" alt="Photo of Miguel"/>
                    <div class="info_l">
                        <span>Miguel Matos</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor repellat sapiente blanditiis veniam aspernatur repudiandae neque voluptas. 
                         Ducimus dolorem, animi, dicta voluptatum minima at voluptate vel, obcaecati itaque dignissimos dolorum.</p>
                    </div>
                </div>
                <div class="person">
                    <div class="info_r">
                        <span>Diogo Gomes</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor repellat sapiente blanditiis veniam aspernatur repudiandae neque voluptas. 
                         Ducimus dolorem, animi, dicta voluptatum minima at voluptate vel, obcaecati itaque dignissimos dolorum.</p>
                    </div>
                    <img src="{% static 'img/Diogo.png' %}" alt="Photo of Diogo"/>
                </div>
            </div>
        </div>

{% endblock %}